$small-phone-max-width: 449px !default;
$phone-min-width: 360px !default;
$phone-max-width: 679px !default;
$tablet-min-width: 768px !default;
$tablet-max-width: 1023px !default;
$desktop-min-width: 1024px !default;
