@use "../../styles/colors/colors.scss";
@use "../../styles/fonts/fonts.scss";
@use "../../styles/spacing/spacing.scss";

button {
  padding: spacing.$medium spacing.$large 15px spacing.$large;
  border-radius: spacing.$extraSmall;
  transition: ease-in 0.2s;
  letter-spacing: fonts.$letter-spacing-medium;
  text-transform: uppercase;
  border: 2px solid;
  display: block;
  font-weight: fonts.$font-weight-semibold;
}

.button--primary {
  background-color: colors.$btn-bg-primary;
  color: colors.$btn-text-primary;
  border-color: colors.$btn-border-primary;

  &:hover {
    background-color: colors.$btn-bg-primary-hover;
    color: colors.$btn-text-primary-hover;
  }
}
