// use
@use "./colors/colors.scss";
@use "./fonts/fonts.scss";
@use "./spacing/spacing.scss";
@use "./breakpoints/breakpoints.scss";

//imports
@import "../components/card/card.module.scss";
@import "../components/heading/heading.module.scss";
@import "../components/button/button.module.scss";
@import "../components/label/label.module.scss";
@import "../components/footer/footer.module.scss";
@import "../components/navigation/navigation.module.scss";
@import "../components/header/header.module.scss";
@import "../components/image/image.module.scss";
@import "../components/underline/underline.module.scss";
@import "../components/project/project.module.scss";

body {
  margin: 0;
  font-family: "FoundersGrotesk", "Plus Jakarta Sans", "Nunito", "Work Sans",
    sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  line-height: 1.8rem !important;
  background-color: colors.$bg-primary;
}

.container-fluid {
  padding: spacing.$body-wrap-vertical spacing.$body-wrap;
}

.border-bottom {
  margin: 40px 0;
  border-color: colors.$text-color-primary-inverted !important;
}

img {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 !important;
}

.skills {
  background-color: colors.$bg-secondary;

  h5 {
    width: max-content;
    color: colors.$text-color-primary-inverted;
    line-height: 1.4rem;
    margin-bottom: 40px;
    padding-bottom: 0;
    border-bottom: 4px solid colors.$text-color-primary-inverted;
  }

  h6,
  p {
    color: colors.$text-color-primary-inverted;
  }

  h6 {
    font-weight: fonts.$font-weight-semibold;
    margin: 0;
  }
}

.about-figure {
  height: 100%;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  vertical-align: middle;
  padding: spacing.$large;

  img {
    border-radius: 50%;
  }
}

.experience-item,
.education-item {
  margin-bottom: spacing.$large;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.projects {
  .categories {
    padding: 0;
    margin: 0;

    ul {
      padding: 0 10px 10px 10px;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 20px;
        font-size: 14px;
        color: colors.$middleGrey;
        font-weight: 600;
        position: relative;

        &:hover {
          opacity: 0.6;
        }

        &.is-active {
          color: colors.$pink;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
