@use "../colors/colors.scss";
@use "../spacing/spacing.scss";

@font-face {
  font-family: "FoundersGrotesk";
  src: url("../../fonts/FoundersGrotesk/FoundersGrotesk-Light.otf")
      format("truetype"),
    url("../../fonts/FoundersGrotesk/FoundersGrotesk-Light.otf")
      format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: "FoundersGrotesk";
  src: url("../../fonts/FoundersGrotesk/FoundersGrotesk-Regular.otf")
      format("truetype"),
    url("../../fonts/FoundersGrotesk/FoundersGrotesk-Regular.otf")
      format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: "FoundersGrotesk";
  src: url("../../fonts/FoundersGrotesk/FoundersGrotesk-Medium.otf")
      format("truetype"),
    url("../../fonts/FoundersGrotesk/FoundersGrotesk-Medium.otf")
      format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: "FoundersGrotesk";
  src: url("../../fonts/FoundersGrotesk/FoundersGrotesk-Semibold.otf")
      format("truetype"),
    url("../../fonts/FoundersGrotesk/FoundersGrotesk-Semibold.otf")
      format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: "FoundersGrotesk";
  src: url("../../fonts/FoundersGrotesk/FoundersGrotesk-Bold.otf")
      format("truetype"),
    url("../../fonts/FoundersGrotesk/FoundersGrotesk-Bold.otf")
      format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

// font weights
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$font-weight-thin: 300;

// font sizes
$font-size-1: 3.5rem;
$font-size-2: 2.5rem;
$font-size-3: 1.6rem;
$font-size-4: 1.4rem;
$font-size-5: 1.4rem;
$font-size-6: 1.1rem;
$font-size-7: 1.1rem;
$font-size-8: 0.8rem;

// letter spacing
$letter-spacing-h2: -0.1rem;
$letter-spacing-mini: -0.2rem;
$letter-spacing-regular: 0rem;
$letter-spacing-medium: 0.05em;

// line height
$line-height-small: 1rem;
$line-height-regular: 1.8rem;
$line-height-medium: 2.5rem;
$line-height-large: 4rem;
$line-height-h2: 3.5rem;

$sidebar-li-font-size: $font-size-3;
$footer-li-font-size: $font-size-7;
$footer-icon-font-size: $font-size-4;
$footer-copyright-font-size: $font-size-8;
$label-font-size: $font-size-8;

// font family
$font-family-heading: "FoundersGrotesk", Arial;
$font-family-base: "FoundersGrotesk", Arial;

a {
  text-decoration: none;
}

h1 {
  font-size: $font-size-1;
  line-height: $line-height-large;
  letter-spacing: $letter-spacing-regular;
  font-weight: $font-weight-regular;
  font-family: $font-family-heading;
  color: colors.$text-color-primary;
  margin-top: 0;
}

h2 {
  font-size: $font-size-2;
  line-height: $line-height-h2;
  letter-spacing: $letter-spacing-h2;
  font-weight: $font-weight-regular;
  font-family: $font-family-heading;
  color: colors.$text-color-primary;
}

h3 {
  font-size: $font-size-3;
  line-height: $line-height-medium;
  font-weight: $font-weight-semibold;
  font-family: $font-family-heading;
  letter-spacing: $letter-spacing-regular;
  color: colors.$text-color-primary;
}

h4 {
  font-size: $font-size-4;
  line-height: $line-height-regular;
  font-weight: $font-weight-regular;
  font-family: $font-family-heading;
  letter-spacing: $letter-spacing-regular;
  color: colors.$text-color-primary;
}

h5 {
  font-size: $font-size-5;
  line-height: $line-height-regular;
  font-weight: $font-weight-regular;
  font-family: $font-family-heading;
  letter-spacing: $letter-spacing-regular;
  color: colors.$text-color-primary;
}

h6 {
  font-size: $font-size-6;
  font-weight: $font-weight-regular;
  font-family: $font-family-heading;
  letter-spacing: $letter-spacing-medium;
  color: colors.$text-color-primary;
}

p {
  font-size: $font-size-7;
  white-space: pre-line;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-spacing-regular;
  color: colors.$text-color-primary;
}

li,
a {
  cursor: pointer;
  transition: 350ms;
  list-style: none;
  font-family: $font-family-base;
  letter-spacing: $letter-spacing-medium;
}

.list-item {
  list-style: inside;

  &.mb {
    margin-bottom: spacing.$medium;
  }
}

label {
  font-size: $font-size-8;
  letter-spacing: $letter-spacing-medium;
  line-height: $line-height-small;
}
