@use "../../styles/colors/colors.scss";
@use "../../styles/fonts/fonts.scss";
@use "../../styles/spacing/spacing.scss";
@use "../../styles/breakpoints/breakpoints.scss";

.card {
  border: none;
}

article {
  margin-bottom: spacing.$extraLarge;
}

.card-image {
  position: relative;
  max-height: 380px;
  min-height: 380px;
  margin: 0 !important;
  margin-bottom: spacing.$medium !important;
  border-radius: 5px;
  background-color: colors.$lightGrey;
  overflow: hidden;

  @media (min-width: breakpoints.$tablet-min-width) {
    max-height: 280px;
    min-height: 280px;
  }

  @media (min-width: breakpoints.$desktop-min-width) {
    max-height: 380px;
    min-height: 380px;
  }

  img {
    width: 100%;
  }
}

.card-text {
  margin: spacing.$medium 0 spacing.$small 0 !important;
}
