// colors
$lightGrey: #f2f2f2;
$middleGrey: #bebebe;
$grey: #a0a0a0;
$darkGrey: #707070;
$almostBlack: #333;
$black: #0f0f0f;
$silver: #a7a7a7;
$almostWhite: #fefefe;
$beige: #e8dcc3;
$transparent: transparent;
$darkGreen: #141414;
$yellowBeige: #f9e8c2;
$dustyBlue: #74828b;
$pink: #ff8686;
$pinkOpacity: #ff8686;
$whiteOpacity: #fefefe80;

// background colors
$bg-primary: $almostWhite;
$bg-secondary: $pink;

// text colors
$text-color-primary: $almostBlack;
$text-color-secondary: $dustyBlue;
$text-color-tertiary: $darkGrey;

$text-color-primary-inverted: $almostWhite;
$text-color-secondary-inverted: $almostWhite;

$navbar-brand-color: $almostBlack;
$navbar-link-color: $darkGreen;
$navbar-link-color-hover: $darkGrey;
$navbar-btn-color: $almostWhite;

$sidebar-link-color: $almostWhite;
$sidebar-link-color-hover: $almostWhite;

$footer-li-color-hover: $grey;

// buttons
$btn-bg-primary: $transparent;
$btn-bg-primary-hover: $pink;
$btn-text-primary: $pink;
$btn-text-primary-hover: $almostWhite;
$btn-border-primary: $pink;
$navbar-btn-bg: $pink;

// sidebar burger
$sidebar-burger-color: $almostBlack;
$sidebar-burger-color-is-active: $almostWhite;
